<div class="player" *ngIf="track">
    <div class="player-image">
        <img *ngIf="track.album.images.length" [src]="track.album.images[0].url" />
    </div>
    <div class="player-title-controls">
        <div class="player-title">
            <marquee *ngIf="track">{{ track.name }}</marquee>
        </div>
        <div class="player-controls">
            <div class="player-controls-buttons">
                <button (click)="backward()" class="player-controls-button"><i class="fa fa-step-backward"></i></button>
                <button *ngIf="player_control.paused" (click)="resume()" class="player-controls-button"><i class="fa fa-play"></i></button>
                <button *ngIf="!player_control.paused" (click)="pause()" class="player-controls-button"><i class="fa fa-pause"></i></button>
                <button (click)="forward()" class="player-controls-button"><i class="fa fa-step-forward"></i></button>
            </div>
            <div class="player-controls-volume">
                <input (change)="setVolume()" [(ngModel)]="player_control.volume" class="player-controls-volume-slider" type="range" step="0.01" value="1" min="0" max="1">
            </div>
            <div class="player-controls-time-bar-track">
                <div class="player-controls-time-bar" [style.width]="player_control.percent_bar"></div>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="pause()">pause</button>
<button (click)="resume()">resume</button> -->