<div class="mosaic-scroll">
    <div class="mosaic">
        <div *ngFor="let img of mosaic_images"
            [style.width]="mosaicService.getMosaicSize()"
            [style.height]="mosaicService.getMosaicSize()"
        >
            <img [src]="img" >
        </div>
    </div>
</div>

<div class="mosaic-overlay-shadow"></div>

<div class="mosaic-content">
    <div color="primary" class="atemsfy-toolbar">
        <div class="atemsfy-toolbar-logo">
            <img src="assets/images/logo.png">
        </div>
        <div class="atemsfy-toolbar-title">Atemsfy playslist manager</div>
    </div>
    <router-outlet></router-outlet>
</div>