<div class="player">
    <div class="player-info">
        <div class="player-image">
            <img *ngIf="playerComponent.track" [src]="playerComponent.track.album.images[0].url" />
        </div>
        <div class="player-title-controls">
            <div class="player-title">
                <marquee *ngIf="playerComponent.track">{{ playerComponent.track.name }}</marquee>
            </div>
            <div class="player-controls">
                <div class="player-controls-icons">
                    <i (click)="backward()" class="fa fa-step-backward player-controls-icon"></i>
                    <i *ngIf="playerComponent.player_control.paused" (click)="resume()" class="fa fa-play player-controls-icon"></i>
                    <i *ngIf="!playerComponent.player_control.paused" (click)="pause()" class="fa fa-pause player-controls-icon"></i>
                    <i (click)="forward()" class="fa fa-step-forward player-controls-icon"></i>
                </div>
                <div class="player-controls-volume">
                    <input (change)="setVolume()" [(ngModel)]="playerComponent.player_control.volume" class="player-controls-volume-slider" type="range" step="0.01" value="1" min="0" max="1">
                </div>
            </div>
        </div>
    </div>
    <div class="player-controls-time-bar-track">
        <div class="player-controls-time-bar" [style.width]="playerComponent.player_control.percent_bar"></div>
    </div>
</div>
<div class="player-initializing" id="player_initializing">
    <i class="fab fa-spotify fa-spin"></i>
    <span class="player-initializing-message">Iniciando player</span>
    <i class="fab fa-spotify fa-spin"></i>
</div>

<!-- <button (click)="pause()">pause</button>
<button (click)="resume()">resume</button> -->