<div class="atemsfy-loading">
  <div class="atemsfy-loading-text">{{ text }}</div>
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
  <span class="line line-4"></span>
  <span class="line line-5"></span>
  <span class="line line-6"></span>
  <span class="line line-7"></span>
  <span class="line line-8"></span>
  <span class="line line-9"></span>
  <span class="line line-10"></span>
  <span class="line line-11"></span>
  <span class="line line-12"></span>
  <span class="line line-13"></span>
  <span class="line line-14"></span>
  <span class="line line-15"></span>
  <span class="line line-16"></span>
  <span class="line line-17"></span>
  <span class="line line-18"></span>
  <span class="line line-19"></span>
</div>
