$mobile-breaker: 1000px;

.button-size {
    font-weight: bold;
    font-size: 20px;
}

.mosaic-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100% - 60px);
    overflow: auto;
}

.home-welcome {
    width: 100%;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width: $mobile-breaker) {
        font-size: 6vw;
    }
}

.home-content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #ffffff;
    padding: 30px;
    border-radius: 10px;
    
    @media screen and (max-width: $mobile-breaker) {
        flex-direction: column;
    }
}

.user-info-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    
    @media screen and (max-width: $mobile-breaker) {
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.user-info-line {
    margin: 0px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    
    @media screen and (max-width: $mobile-breaker) {
        margin-top: 20px;
    }
}

.home-button {
    margin-bottom: 20px;
}

.home-button:last-child {
    margin-bottom: 0px;
}