<div class="container">
    <div class="side-nav">
        <!-- <div class="atemsfy-toggle atemsfy-toggle-horizontal">
            <div class="atemsfy-toggle-item" style="text-decoration: line-through; opacity: 0.5;">Todas</div>
            <div class="atemsfy-toggle-item atemsfy-toggle-item-active">Minhas</div>
            <div class="atemsfy-toggle-item" style="text-decoration: line-through; opacity: 0.5;">Spotify</div>
        </div> -->
        <div class="side-nav-items">
            <div class="div-new-playlist">
                <button class="atemsfy-button atemsfy-button-secondary" (click)="askNewPlaylistName()">Nova playlist</button>
            </div>
            <div class="div-search">
                <div class="expand-input-container-small">
                    <input class="expand-input-small" type="text" [(ngModel)]="playlists_filter.text" required>
                    <div class="expand-input-bar-small"></div>
                </div>
            </div>
            <div class="my-playlists">
                <div *ngFor="let playlist of my_playlists">
                    <div *ngIf="filterPlaylist(playlist)" matRipple (click)="getPlaylist(playlist.id)">
                        <div class="atemsfy-playlist-list">
                            <div class="atemsfy-playlist">
                                <img *ngIf="playlist.images.length > 0" [src]="playlist.images[0].url" />
                                <div class="atemsfy-playlist-info">
                                    <span>{{ playlist.name }}</span>
                                    <span>{{ playlist.owner.display_name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div *ngIf="loading.playlist" class="loading-playlist">
            <div class="atemsfy-loading">
                <div class="atemsfy-loading-text">Carregando playlist</div>
                <span *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="line line-{{ n }}"></span>
            </div>
        </div>
        <div *ngIf="playlist && !is_mobile" class="content-title">{{ playlist.name }}</div>
        <div *ngIf="playlist" class="playlist-container">
            <div class="search-content">
                <div class="playlist-container-title">Músicas do Spotify</div>
                <div class="div-search">
                    <div class="expand-input-container-small">
                        <input class="expand-input-small" type="text" [(ngModel)]="available_tracks_search.value" (keyup)="availableTracksSeach()" required>
                        <div class="expand-input-bar-small"></div>
                    </div>
                </div>
                <div class="track-container">
                    <div *ngIf="loading.search_tracks" class="loading-tracks">
                        <div class="atemsfy-loading">
                            <div class="atemsfy-loading-text">Buscando músicas</div>
                            <span *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="line line-{{ n }}"></span>
                        </div>
                    </div>
                    <div cdkDropList
                        #available_tracks_list="cdkDropList"
                        [cdkDropListData]="available_tracks"
                        [cdkDropListConnectedTo]="[playlists_tracks_list]"
                        class="example-list height-100-overflow"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of available_tracks" cdkDrag>
                            <div class="track-in-list">
                                <div class="track-in-list-image" [style.backgroundImage]="'url('+item.album.images[0].url+')'">
                                    <button (click)="playSearchTrack(item)" class="track-in-list-play-button"><i class="fa fa-play"></i></button>
                                </div>
                                <div class="track-in-list-info-player">
                                    <div class="track-in-list-info">
                                        <div class="track-in-list-info-name">{{ item.name }}</div>
                                        <div class="track-in-list-info-time">Tempo: {{ item.duration_ms | date:'mm:ss' }}</div>
                                    </div>
                                </div>
                            </div>
                            <mat-card *cdkDragPreview>
                                <mat-card-title>{{ item.name }}</mat-card-title>
                                <img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="track-content">
                <div class="playlist-container-title">Músicas da playlist</div>
                <div class="div-search div-search-playlist">
                    <button class="button-add-track atemsfy-button atemsfy-button-secondary" (click)="modalSearch()">
                        <i class="fas fa-plus"></i>
                        músicas
                    </button>
                    <div class="div-search-input expand-input-container-small">
                        <input class="expand-input-small" type="text" [(ngModel)]="playlists_tracks_search.value" required>
                        <div class="expand-input-bar-small"></div>
                    </div>
                </div>
                <div class="track-container">
                    <div *ngIf="loading.playlist_tracks" class="loading-tracks">
                        <div class="atemsfy-loading">
                            <div class="atemsfy-loading-text">Carregando músicas da playlist</div>
                            <span *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="line line-{{ n }}"></span>
                        </div>
                    </div>
                    <div cdkDropList
                        playlist-tracks="true"
                        #playlists_tracks_list="cdkDropList"
                        [cdkDropListData]="playlists_tracks"
                        [cdkDropListConnectedTo]="[]"
                        class="example-list height-100-overflow"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngIf="playlists_tracks.length === 0" class="no-item">
                            Arraste as músicas aqui
                        </div>
                        <div *ngFor="let item of playlistsTracksFilter(); let i = index" cdkDrag [cdkDragDisabled]="is_mobile">
                            <div class="track-in-list">
                                <div class="track-in-list-image" [style.backgroundImage]="'url('+item.album.images[0].url+')'">
                                    <button (click)="playPlaylistTrack(item, i)" class="track-in-list-play-button"><i class="fa fa-play"></i></button>
                                </div>
                                <div class="track-in-list-info-player">
                                    <div class="track-in-list-info">
                                        <div class="track-in-list-info-name">{{ item.name }}</div>
                                        <div class="track-in-list-info-time">Tempo: {{ item.duration_ms | date:'mm:ss' }}</div>
                                    </div>
                                </div>
                                <div class="track-in-list-action">
                                    <mat-icon class="track-in-list-action-remove" [class.disabled]="deleting_track" [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple (click)="removeTrackFromPlaylist(item)">delete</mat-icon>
                                </div>
                            </div>
                            <img *cdkDragPreview class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showModal" class="modal-add-tracks">
    <div class="search-content-modal">
        <div class="playlist-container-title-modal">Músicas do Spotify</div>
        <div class="div-search div-search-modal">
            <div class="expand-input-container-small">
                <input class="expand-input-small" type="text" [(ngModel)]="available_tracks_search.value" (keyup)="availableTracksSeach()" required>
                <div class="expand-input-bar-small"></div>
            </div>
        </div>
        <div class="modal-actions">
            <button [disabled]="!hasTrackSelected()" class="atemsfy-button atemsfy-button-primary" (click)="closeModal(true)">Salvar</button>
            <button class="atemsfy-button atemsfy-button-alternative" (click)="closeModal(false)">Voltar</button>
        </div>
        <div *ngIf="loading.modal_saving" class="loading-modal-saving">
            <div class="atemsfy-loading">
                <div class="atemsfy-loading-text">Salvando músicas selecionadas</div>
                <span *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="line line-{{ n }}"></span>
            </div>
        </div>
        <div *ngIf="!loading.modal_saving" class="track-container-modal">
            <div *ngIf="loading.search_tracks" class="loading-tracks">
                <div class="atemsfy-loading">
                    <div class="atemsfy-loading-text">Buscando músicas</div>
                    <span *ngFor="let n of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]" class="line line-{{ n }}"></span>
                </div>
            </div>
            <div *ngFor="let item of available_tracks" (click)="selectTrack(item)" [class.track-selected-modal]="findTrackInSelectedList(item)">
                <div class="track-in-list">
                    <div class="track-in-list-image" [style.backgroundImage]="'url('+item.album.images[0].url+')'">
                        <button (click)="playSearchTrack(item)" class="track-in-list-play-button"><i class="fa fa-play"></i></button>
                    </div>
                    <div class="track-in-list-info-player">
                        <div class="track-in-list-info">
                            <div class="track-in-list-info-name">{{ item.name }}</div>
                            <div class="track-in-list-info-time">Tempo: {{ item.duration_ms | date:'mm:ss' }}</div>
                        </div>
                    </div>
                </div>
                <mat-card *cdkDragPreview>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
                </mat-card>
            </div>
            <div *ngIf="hasTrackSelected()" class="playlist-container-title-modal">Músicas selecionadas</div>
            <div *ngFor="let item of available_tracks_search.selected" (click)="selectTrack(item)" [class.track-selected-modal]="findTrackInSelectedList(item)">
                <div class="track-in-list">
                    <div class="track-in-list-image" [style.backgroundImage]="'url('+item.album.images[0].url+')'">
                        <button (click)="playSearchTrack(item)" class="track-in-list-play-button"><i class="fa fa-play"></i></button>
                    </div>
                    <div class="track-in-list-info-player">
                        <div class="track-in-list-info">
                            <div class="track-in-list-info-name">{{ item.name }}</div>
                            <div class="track-in-list-info-time">Tempo: {{ item.duration_ms | date:'mm:ss' }}</div>
                        </div>
                    </div>
                </div>
                <mat-card *cdkDragPreview>
                    <mat-card-title>{{ item.name }}</mat-card-title>
                    <img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
                </mat-card>
            </div>
        </div>
    </div>
</div>