<mat-tab-group>
	
	<mat-tab label="Músicas">
	
		<div class="container-drag-drop">
	
			<div class="item-drag-drop">
				
				<h3>Músicas do Spotify</h3>

				<mat-form-field class="input-search">
					<input matInput type="text" placeholder="Pesquisa" [(ngModel)]="available_tracks_search.value" (keyup)="availableTracksSeach()">
					<button mat-button *ngIf="available_tracks_search.value" matSuffix mat-icon-button aria-label="Clear" (click)="available_tracks_search.value=''">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
	
				<div cdkDropList
					#available_tracks_list="cdkDropList"
					[cdkDropListData]="available_tracks"
					[cdkDropListConnectedTo]="[playlists_tracks_list]"
					class="example-list"
                    (cdkDropListDropped)="drop($event)">
					<div *ngFor="let item of available_tracks" cdkDrag>

                        <!-- <div class="track">
                            <img [src]="item.album.images[0].url" [alt]="item.name" />
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>play_arrow</mat-icon>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>pause</mat-icon>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>stop</mat-icon>
                            <div class="mat-h3 track-name">{{ item.name }}</div>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>close</mat-icon>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>chevron_right</mat-icon>
						</div> -->
						
						<div class="track-in-list">
							<img class="track-in-list-image" [src]="item.album.images[0].url" [alt]="item.name" />
							<div class="track-in-list-info-player">
								<div class="track-in-list-info">
									<div class="track-in-list-info-name">{{ item.name }}</div>
									<div class="track-in-list-info-time">Tempo: 03:20</div>
								</div>
								<div class="track-in-list-player">
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>play_arrow</mat-icon>
									</div>
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>pause</mat-icon>
									</div>
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>stop</mat-icon>
									</div>
								</div>
							</div>
						</div>
                        
						<mat-card *cdkDragPreview>
							<mat-card-title>{{ item.name }}</mat-card-title>
							<img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
						</mat-card>
					</div>
				</div>
			
			</div>
	
			<div class="item-drag-drop">
				<h3>Músicas da Playlist</h3>

				<mat-form-field class="input-search">
						<input matInput type="text" placeholder="Pesquisa" [(ngModel)]="playlists_tracks_search.value">
						<button mat-button *ngIf="playlists_tracks_search.value" matSuffix mat-icon-button aria-label="Clear" (click)="playlists_tracks_search.value=''">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
	
				<div cdkDropList
					#playlists_tracks_list="cdkDropList"
					[cdkDropListData]="playlists_tracks"
					[cdkDropListConnectedTo]="[]"
					class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    
                    <div *ngIf="playlists_tracks.length === 0" class="no-item">
                        Arraste as músicas aqui
                    </div>

					<div *ngFor="let item of playlistsTracksFilter()" cdkDrag>

                        <!-- <div class="track">
                            <img [src]="item.album.images[0].url" [alt]="item.name" />
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>play_arrow</mat-icon>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>pause</mat-icon>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>stop</mat-icon>
                            <div class="mat-h3 track-name">{{ item.name }}</div>
                            <mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>close</mat-icon>
                            <mat-icon [class.disabled]="deleting_track" [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple (click)="removeTrackFromPlaylist(item)">delete</mat-icon>
						</div> -->

						<div class="track-in-list">
							<img class="track-in-list-image" [src]="item.album.images[0].url" [alt]="item.name" />
							<div class="track-in-list-info-player">
								<div class="track-in-list-info">
									<div class="track-in-list-info-name">{{ item.name }}</div>
									<div class="track-in-list-info-time">Tempo: 03:20</div>
								</div>
								<div class="track-in-list-player">
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>play_arrow</mat-icon>
									</div>
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>pause</mat-icon>
									</div>
									<div class="track-in-list-player-icon">
										<mat-icon [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple>stop</mat-icon>
									</div>
								</div>
							</div>
							<div class="track-in-list-action">
								<mat-icon class="track-in-list-action-remove" [class.disabled]="deleting_track" [matRippleCentered]="true" [matRippleUnbounded]="true" matRipple (click)="removeTrackFromPlaylist(item)">delete</mat-icon>
							</div>
						</div>
						
						<img *cdkDragPreview class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">

					</div>
                    
				</div>
			</div>
	
		</div>
	
	</mat-tab>
	
	<mat-tab label="Detalhes">

		<div *ngIf="playlist !== undefined" style="border: 1px solid black; margin: 5px; padding: 5px;">
			<img *ngFor="let image of playlist.images" [src]="image.url" style="width: 50px; height: 50px;">	
			<p style="margin-left: 10px;"><b style="text-transform: capitalize;">name:</b> {{ playlist.name }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">collaborative:</b> {{ playlist.collaborative }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">description:</b> {{ playlist.description }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">href:</b> {{ playlist.href }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">id:</b> {{ playlist.id }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">owner:</b> {{ playlist.owner.display_name }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">primary_color:</b> {{ playlist.primary_color }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">public:</b> {{ playlist.public }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">snapshot_id:</b> {{ playlist.snapshot_id }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">tracks:</b> {{ playlist.tracks.total }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">type:</b> {{ playlist.type }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">uri:</b> {{ playlist.uri }}</p>
		</div>	
		
	</mat-tab>	
	
</mat-tab-group>