<mat-tab-group>
	
	<mat-tab label="Tracks">
	
		<div class="container-drag-drop">
	
			<div class="item-drag-drop">
				
				<h2>1</h2>

				<mat-form-field class="input-search">
					<input matInput type="text" placeholder="Search" [(ngModel)]="available_tracks_search.value" (keyup)="availableTracksSeach()">
					<button mat-button *ngIf="available_tracks_search.value" matSuffix mat-icon-button aria-label="Clear" (click)="available_tracks_search.value=''">
						<mat-icon>close</mat-icon>
					</button>
				</mat-form-field>
	
				<div cdkDropList
					#available_tracks_list="cdkDropList"
					[cdkDropListData]="available_tracks"
					[cdkDropListConnectedTo]="[playlists_tracks_list]"
					class="example-list"
					(cdkDropListDropped)="drop($event)">
					<div class="example-box" *ngFor="let item of available_tracks" cdkDrag>
						{{ item.name }}
						<mat-card *cdkDragPreview>
							<mat-card-title>{{ item.name }}</mat-card-title>
							<img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
						</mat-card>
					</div>
				</div>
			
			</div>
	
			<div class="item-drag-drop">
				<h2>2</h2>

				<mat-form-field class="input-search">
						<input matInput type="text" placeholder="Search" [(ngModel)]="playlists_tracks_search.value">
						<button mat-button *ngIf="playlists_tracks_search.value" matSuffix mat-icon-button aria-label="Clear" (click)="playlists_tracks_search.value=''">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
	
				<div cdkDropList
					#playlists_tracks_list="cdkDropList"
					[cdkDropListData]="playlists_tracks"
					[cdkDropListConnectedTo]="[]"
					class="example-list"
					(cdkDropListDropped)="drop($event)">
					<div class="example-box" *ngFor="let item of playlistsTracksFilter()" cdkDrag (click)="removeTrackFromPlaylist(item)">
						{{ item.name }}
						<mat-card *cdkDragPreview>
							<mat-card-title>{{ item.name }}</mat-card-title>
							<img class="track-img-preview" [src]="item.album.images[0].url" [alt]="item.name">
						</mat-card>
					</div>
				</div>
			</div>
	
		</div>
	
	</mat-tab>
	
	<mat-tab label="Details">

		<div *ngIf="playlist !== undefined" style="border: 1px solid black; margin: 5px; padding: 5px;">
			<img *ngFor="let image of playlist.images" [src]="image.url" style="width: 50px; height: 50px;">	
			<p style="margin-left: 10px;"><b style="text-transform: capitalize;">name:</b> {{ playlist.name }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">collaborative:</b> {{ playlist.collaborative }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">description:</b> {{ playlist.description }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">href:</b> {{ playlist.href }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">id:</b> {{ playlist.id }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">owner:</b> {{ playlist.owner.display_name }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">primary_color:</b> {{ playlist.primary_color }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">public:</b> {{ playlist.public }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">snapshot_id:</b> {{ playlist.snapshot_id }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">tracks:</b> {{ playlist.tracks.total }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">type:</b> {{ playlist.type }}</p>
			<p style="margin: 0px;"><b style="text-transform: capitalize;">uri:</b> {{ playlist.uri }}</p>
		</div>	
		
	</mat-tab>	
	
</mat-tab-group>