<!-- Tempo restante de sessão: {{ remaining_session_time }} segundos -->
<!-- <div class="player" cdkDrag>
    Player
</div> -->
<div color="primary" class="atemsfy-toolbar">
    <div class="atemsfy-toolbar-logo">
        <img src="assets/images/logo.png">
    </div>
    <div class="atemsfy-toolbar-title">Atemsfy</div>
    <div class="header-space"></div>
    <app-player [hidden]="!player_show"></app-player>
</div>
<div id="{{message_container_class}}" *ngFor="let message_container_class of messages_containers" class="atemsfy-messages {{ message_container_class }}"></div>
<!-- <div class="beta">beta</div> -->
<div *ngIf="router.url != '/login'" class="div-exit">
    <button (click)="logout()" class="atemsfy-button atemsfy-button-white">Sair</button>
    <div class="version">v1.0</div>
</div>
<!-- <div *ngIf="router.url != '/login'" #player class="player-drag" cdkDrag>
    <div class="player-handle">
        <i cdkDragHandle (mouseup)="playerDragEnd()" class="fas fa-arrows-alt"></i>
        <i *ngIf="!player_show" (click)="togglePlayer(true)" class="fas fa-window-maximize"></i>
        <i *ngIf="player_show" (click)="togglePlayer(false)" class="fas fa-window-minimize"></i>
    </div>
    
</div> -->
<router-outlet></router-outlet>