<div class="mosaic-scroll">
	<div class="mosaic">
        <div *ngFor="let img of mosaic_images"
            [style.width]="mosaicService.getMosaicSize()"
            [style.height]="mosaicService.getMosaicSize()"
        >
            <img [src]="img" >
        </div>
	</div>
</div>

<div class="mosaic-overlay-shadow"></div>

<div class="mosaic-content" *ngIf="currentUser !== undefined">
	<div class="home-content">
		<div class="home-welcome">
			Olá {{ currentUser.display_name }}!
		</div>
		<div class="home-content-info">
			<div class="user-info">
				<img class="user-info-image" *ngIf="currentUser.images.length > 0" [src]="currentUser.images[0].url">
				<p class="user-info-line">Nascimento: {{ currentUser.birthdate | date:'dd/MM/yyyy' }}</p>
				<p class="user-info-line">País: {{ currentUser.country }}</p>
				<p class="user-info-line">Nome: {{ currentUser.display_name }}</p>
				<p class="user-info-line">Email: {{ currentUser.email }}</p>
				<p class="user-info-line">Seguidores: {{ currentUser.followers.total }}</p>
				<p class="user-info-line">Conta: {{ currentUser.product }}</p>
			</div>
			<div class="home-buttons">
				<button class="home-button atemsfy-button atemsfy-button-primary" routerLink="/search">
					<span class="button-size">Pesquisar</span>
				</button>
				<button class="home-button atemsfy-button atemsfy-button-primary" routerLink="/playlist/editor">
					<span class="button-size">Editar minhas playlists</span>
				</button>
				<button class="home-button atemsfy-button atemsfy-button-primary">
					<span class="button-size">Minhas músicas salvas</span>
					<div>Em breve</div>
				</button>
			</div>
		</div>
	</div>
</div>