<!-- <div class="mosaic-scroll">
    <div class="mosaic">
        <div *ngFor="let img of mosaic_images"
            [style.width]="mosaicService.getMosaicSize()"
            [style.height]="mosaicService.getMosaicSize()"
        >
            <img [src]="img" >
        </div>
    </div>
</div> -->

<div class="mosaic-overlay-shadow"></div>

<div class="mosaic-content">
    <div class="div-input-search">
        <!-- <input class="input-search" type="text" placeholder="Pesquise músicas, albuns, playlists e artistas" > -->
        <div class="expand-input-container">
            <input class="expand-input" type="text" [(ngModel)]="search.value" (keyup)="callSearch()" required>
            <div class="expand-input-bar"></div>
        </div>
    </div>

    <div class="search-content">

        <input id="toggle-track" type="checkbox" checked>
        <label class="search-title" id="label-track" for="toggle-track">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
            Músicas
        </label>
        <div id="expand-track" class="expand search-content-type-container">
            <div *ngIf="results.tracks.items.length === 0 && search.value.length > 0 && !search.running">
                <i class="far fa-sad-tear"></i>
                Nenhuma música encontrada
                <i class="far fa-sad-tear"></i>
            </div>
            <div *ngFor="let track of results.tracks.items" class="search-item"
                [style.backgroundImage]="'url('+(track.album.images.length > 0 ? track.album.images[0].url : '')+')'">
                <div class="search-item-actions">
                    <i class="search-item-actions-icon fa fa-play" (click)="playTrack(track)"></i>
                    <!-- <i class="search-item-actions-icon fa fa-plus"></i> -->
                </div>
                <div class="search-item-name">
                    <div>{{ track.name }}</div>
                </div>
            </div>
        </div>

        <input id="toggle-album" type="checkbox">
        <label class="search-title" id="label-album" for="toggle-album">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
            Álbuns
        </label>
        <div id="expand-album" class="expand search-content-type-container">
            <div *ngFor="let album of results.albums.items" class="search-item search-item"
                [style.backgroundImage]="'url('+(album.images.length > 0 ? album.images[0].url : '')+')'">
                <div class="search-item-actions">
                    <i class="search-item-actions-icon fa fa-play" (click)="playContext(album)"></i>
                </div>
                <div class="search-item-name">
                    <div>{{ album.name }}</div>
                </div>
            </div>
        </div>

        <input id="toggle-artist" type="checkbox">
        <label class="search-title" id="label-artist" for="toggle-artist">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
            Artistas
        </label>
        <div id="expand-artist" class="expand search-content-type-container">
            <div *ngFor="let artist of results.artists.items" class="search-item search-item"
                [style.backgroundImage]="'url('+(artist.images.length > 0 ? artist.images[0].url : '')+')'">
                <div class="search-item-actions">
                    <i class="search-item-actions-icon fa fa-play" (click)="playArtist(artist)"></i>
                </div>
                <div class="search-item-name">
                    <div>{{ artist.name }}</div>
                </div>
            </div>
        </div>

        <input id="toggle-playlist" type="checkbox">
        <label class="search-title" id="label-playlist" for="toggle-playlist">
            <i class="fas fa-chevron-up"></i>
            <i class="fas fa-chevron-down"></i>
            Playlists
        </label>
        <div id="expand-playlist" class="expand search-content-type-container">
            <div class="search-content-type-container">
                <div *ngFor="let playlist of results.playlists.items" class="search-item search-item"
                    [style.backgroundImage]="'url('+(playlist.images.length > 0 ? playlist.images[0].url : '')+')'">
                    <div class="search-item-actions">
                        <i class="search-item-actions-icon fa fa-play" (click)="playContext(playlist)"></i>
                    </div>
                    <div class="search-item-name">
                        <div>{{ playlist.name }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
