.modal-container {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  background: #232323;
  padding: 10px;
  border-radius: 10px;
  max-width: calc(100vw - 120px);
  max-height: calc(100vh - 120px);
  overflow: auto;
}
