<div class="list">
	<div class="filter">
		<mat-button-toggle-group [(ngModel)]="playlists_filter.owner">
			<mat-button-toggle value="all">All</mat-button-toggle>
			<mat-button-toggle value="by_me">By Me</mat-button-toggle>
			<mat-button-toggle value="by_spotify">By Spotify</mat-button-toggle>
		</mat-button-toggle-group>
	</div>

	<div *ngFor="let playlist of my_playlists">
		<mat-card *ngIf="filterPlaylist(playlist)" matRipple routerLink="/playlist/{{ playlist.id }}">
			<mat-card-header>
				<div mat-card-avatar *ngIf="playlist.images.length > 0" [style.backgroundImage]="'url('+playlist.images[0].url+')'" class="playlist-image"></div>
				<mat-card-title>{{ playlist.name }}</mat-card-title>
				<mat-card-subtitle>Owner: {{ playlist.owner.display_name }}</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>
</div>