<div class="login-content">
    <div class="login-title">
        <h1>
            <span><i class="fas fa-music"></i></span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            <span>m</span>
            <span>s</span>
            <span>f</span>
            <span>y</span>
            <span><i class="fab fa-spotify"></i></span>
        </h1>
    </div>
    <button class="atemsfy-button atemsfy-button-white" (click)="login()">
        <span class="button-size">Login with SPOTIFY</span>
    </button>
</div>
<!-- <button class="atemsfy-button atemsfy-button-secondary">Secondary</button>
<button class="atemsfy-button atemsfy-button-warning">Warning</button> -->