.login-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title {
    font-size: 50px;
    margin: 10px;
}

.button-size {
    font-weight: bold;
    font-size: 25px;
}

// background animation

.login-content {
	color: #fff;
	background: linear-gradient(-45deg, #0f612b, #1db954, #27df67, #1db954, #0f612b);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

// background animation

// text jump

.fa-music, .fa-spotify {
    margin: 0px 40px;
}

h1 {
    margin: 0px;
    margin-bottom: 50px;
}

h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
                 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
                 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

h1 span:nth-child(2) { -webkit-animation-delay: 0.1s; }
h1 span:nth-child(3) { -webkit-animation-delay: 0.2s; }
h1 span:nth-child(4) { -webkit-animation-delay: 0.3s; }
h1 span:nth-child(5) { -webkit-animation-delay: 0.4s; }
h1 span:nth-child(6) { -webkit-animation-delay: 0.5s; }
h1 span:nth-child(7) { -webkit-animation-delay: 0.6s; }
h1 span:nth-child(8) { -webkit-animation-delay: 0.2s; }
h1 span:nth-child(9) { -webkit-animation-delay: 0.3s; }
h1 span:nth-child(10) { -webkit-animation-delay: 0.4s; }
h1 span:nth-child(11) { -webkit-animation-delay: 0.5s; }
h1 span:nth-child(12) { -webkit-animation-delay: 0.6s; }
h1 span:nth-child(13) { -webkit-animation-delay: 0.7s; }
h1 span:nth-child(14) { -webkit-animation-delay: 0.8s; }

/* ANIMATION */
@-webkit-keyframes bounce {
    100% {
        top: -20px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
}

// text jump