@import 'button.scss';
@import 'track.scss';
@import 'toolbar.scss';
@import 'mosaic.scss';
@import 'content.scss';
@import 'toggle.scss';
@import 'playlist.scss';
@import 'loading.scss';

@font-face {
    font-family: 'montserrat';
    src: url('src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

* {
    font-family: montserrat;
}