.mosaic-scroll {
    height: 100vh;
    overflow: hidden;
}

.mosaic {
    display: flex;
    flex-wrap: wrap;
}

.mosaic div {
    width: 10%;
    height: 10%;
}

.mosaic div img {
    width: 100%;
    height: 100%;
}

.mosaic-overlay-shadow {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mosaic-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}