// color
$player-background: #1db954;
$player-icon-color: #ffffff;
$player-time-bar-track-background: #ffffff;
$player-time-bar-background: #0b7932;
$player-image-background: #1db954;
$player-volume-track-color: #ffffff;
$player-volume-color: #0b7932;


// sizes
$player-width: 250px;
$player-height: 60px;
$player-top-height: $player-height * 0.6;
$player-progress-bar-height: 5px;
$player-bottom-height: $player-height * 0.4 - $player-progress-bar-height;
$player-icon-font-size: 17px;
$player-border-radius: 0px;

.player-initializing {
    width: $player-width;
    height: $player-height + $player-progress-bar-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $player-background;
    margin-top: ($player-height + $player-progress-bar-height) * -1;
    position: absolute;
    border-bottom-left-radius: $player-border-radius;
    border-bottom-right-radius: $player-border-radius;
}

.player-initializing-message {
    margin: 0px 10px;
}

.player {
    display: flex;
    flex-wrap: wrap;
    background: $player-background;
    width: $player-width;
    border-bottom-left-radius: $player-border-radius;
    border-bottom-right-radius: $player-border-radius;
}

.player-info {
    display: flex;
}

.player-image {
    width: $player-height;
    height: $player-height;
    background: $player-image-background;
}

.player-image img {
    width: $player-height;
    height: $player-height;
}

.player-title-controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.player-title {
    height: $player-top-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-controls {
    height: $player-bottom-height;
    display: flex;
    flex-wrap: wrap;
}

.player-controls-icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.player-controls-icon {
    font-size: $player-icon-font-size;
    color:$player-icon-color;
    cursor: pointer;
}

.player-controls-icon:hover {
    transform: scale(1.1);
}

.player-controls-icon:active {
    transform: scale(0.9);
}

.player-controls-icon:active, .player-controls-icon:focus {
    outline: 0;
}

.player-controls-volume {
    display: flex;
    align-items: center;
    width: 50%;
    height: $player-bottom-height;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.player-controls-volume-slider {
    -webkit-appearance: none;
    width: 90%;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background: $player-volume-track-color;
    cursor: pointer;
}

.player-controls-volume-slider::-webkit-slider-thumb:hover {
  transform: scale(1.1)
}

.player-controls-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    margin: -5px;
    border-radius: 100%;
    background: $player-volume-color;
    cursor: pointer;
}

.player-controls-volume-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    margin: -5px;
    border-radius: 100%;
    background: $player-volume-color;
    cursor: pointer;
}

.player-controls-time-bar-track {
    width: 100%;
    height: $player-progress-bar-height;
    background: $player-time-bar-track-background;
}

.player-controls-time-bar {
    height: $player-progress-bar-height;
    background: $player-time-bar-background;
}