.track-in-list {
    height: 60px;
    display: flex;
    margin: 3px 0px;
    align-items: center;
    cursor: move;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.track-in-list:hover {
    background: rgba(29, 185, 84, 0.1);
}

.track-in-list-image {
    width: 60px;
    height: 60px;
}

.track-in-list-info-player {
    padding: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.track-in-list-action {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.track-in-list-action-remove {
    cursor: pointer;
    margin: 4px;
}

.track-in-list-info {
    height: 36px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.track-in-list-info-name {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-in-list-info-time {
    font-size: 10px;
}

.track-in-list-player {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100px;
}

.track-in-list-player-icon {
    width: 20px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-in-list-player-icon:hover {
    cursor: pointer;
}